swiper-container::part(container) {
	width: 750px;
	padding: 60px 0;
}

swiper-slide {
	background-color: var(--mainColor);

	width: 260px;
	height: 400px;

	border-radius: var(--rounded);

	display: grid;
	justify-content: center;

	box-shadow: 0 0 10px var(--mainColor), 0 0 20px var(--themeColor);
}

swiper-container::part(bullet),
swiper-container::part(bullet-active) {
	background-color: var(--themeColor);
}
